// Fonts
$mainFont: "Roboto", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #f7941e;
$secondary: #cc5c19;
$thard: #e3a13a;
$fourth: #e9ae41;

$gray: #eeeeee;
$darkGray: #303135;
$gray: #ddd;
$white: #ffffff;
